<div class="container border separacion">
  <h1>Conversor de Divisas</h1>

  <div class="row separacion">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Dolar</h5>
          <div class="form-group">
            <!-- <label for="dolar">Dolar</label> -->
            <input
              type="text"
              class="form-control"
              id="dolar"
              aria-describedby="dolarHelp"
              placeholder="$"
              [(ngModel)]="dolar"
              (change)="convertirDolar()"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Bitcoin</h5>
          <div class="form-group">
            <!-- <label for="dolar">Bitcoin</label> -->
            <input
              type="text"
              class="form-control"
              id="dolar"
              aria-describedby="dolarHelp"
              placeholder="฿"
              [(ngModel)]="bitcoin"
              (change)="convertirBitcoin()"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container border separacion">
  <h1>Clima</h1>

  <div class="row separacion">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <!-- <h5 class="card-title">Dolar</h5> -->
          <div class="form-group">
            <!-- <label for="dolar">Dolar</label> -->
            <input
              type="text"
              class="form-control"
              id="ciudad"
              aria-describedby="dolarHelp"
              placeholder="Ingrese ciudad"
              [(ngModel)]="ciudad"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <!-- <h5 class="card-title">Dolar</h5> -->
          <div class="form-group">
            <!-- <label for="dolar">Dolar</label> -->
            <input
              type="text"
              class="form-control"
              id="temper"
              aria-describedby="dolarHelp"
              placeholder="Temperatura"
              [(ngModel)]="temp"
              disabled=""
            />
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row col-md-3">
    <button class="btn btn-primary boton" (click)="getClima()">Clima</button>
  </div>
</div>
